<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metro.dao.StationMapper">	
	<resultMap id="StationMap" type="StationBean">
		<id property="id" column="id" javaType="java.lang.Integer" />
		<result property="stationName" column="station_name" javaType="java.lang.String" />
	</resultMap>
	
	<insert id="insertStation" parameterType="com.metro.bean.StationBean" keyProperty="id">
		insert into station_table(id, station_name)
			values(#{id}, #{stationName})
	</insert>
		
	<delete id="deleteStation" parameterType="java.lang.Integer">
		delete from station_table where id=#{id}
	</delete>
	
	<update id = "updateStation" parameterType="com.metro.bean.StationBean">
		update station_table set station_name=#{stationName}
				where id=#{id}
	</update>
	
	<select id="selectStationById" parameterType="java.lang.Integer" resultType="com.metro.bean.StationBean">
		select
			id as "id",
			station_name as "stationName"
		from station_table
		where id=#{id}
	</select>
	
	<select id="selectAllStation" resultMap="StationMap">
		select * from station_table
	</select>
</mapper>